.sections-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.sticky-right-bottom {
    position: fixed;
    bottom: 36px;
    right: 36px;
    padding: 1rem;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--color-primary);
    color: white;
    border: none;

    font-size: 3rem;
    cursor: pointer;

    box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 15px 12px;
    z-index: 999;

    transition: all 0.2s ease;
}

.sticky-right-bottom:hover {
    transform: scale(1.08);
    box-shadow:  rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}